{% load board_tags %}
    <div id="notification_{{notification.id}}"
        class="notification-item {% if not notification.read %}unread{% endif %}"
        title="{{ notification.message }}"
        {% if not notification.read %}
        hx-get="{% url 'notifications:read_notification' notification.id %}"
        hx-target="#notification_{{notification.id}}"
        hx-swap="outerHTML"
        hx-trigger="click"
        {% endif %}
        >
         
        <p><strong>{{ notification.notification_type|notification_title }}</strong></p>
        <p>
           {{ notification.message|notification_trim }}
        </p>
        <p><small>{{ notification.created_at }}</small></p>
    </div>
    {% if forloop.last and next %}
    <div
         hx-get="{{ next }}"
         hx-target="#notification-list"
         hx-indicator=".notification-loader"
         hx-swap="beforeend"
         hx-trigger="intersect once">
    </div> 
        {% endif %}