{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	  <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style>
        .main-container .header-nav{
            justify-content: center;
            margin-top: 30px;
        }
        .main-container .header-nav img{
            width: 50px;
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="main-container">
        <nav class="header-nav">
            <a href=""><img src="{% static 'images/task_master.png' %}" alt=""></a>
        </nav>
		<form  method="post">
            {% csrf_token %}
            <div class="main-panel" style="margin-top:50px">
                <div class="welcome">
                    <h1>Reset Password</h1>
                </div>
				<div class="message">
					<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
				</div>
				{% include 'form.html' with form=form %}
                <div class="btn-group">
                    <a href="{% url 'accounts:login-user' %}" class="back-btn">Cancel</a>
                    <button type="submit" class="primary-btn">Change Password</button>
                </div>
            </div>
        </form>
    </div>
    
<!-- script section start-->
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}{% endblock scripts %}
<!-- script section end -->
</body>
</html>