{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password changed successfully</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	 <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style>
        .main-container .header-nav{
            justify-content: center;
            margin-top: 30px;
        }
        .main-container .header-nav img{
            width: 50px;
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="main-container">
        <nav class="header-nav">
            <a href=""><img src="{% static 'images/task_master.png' %}" alt=""></a>
        </nav>
            <div class="main-panel" style="margin-top:50px">
                <div class="welcome">
                    <h1>Password changed successfully</h1>
                </div>
                <div class="message">
                    <p>Your password has been set. You may go ahead and</p> <a href="{% url 'accounts:login-user' %}" class="primary-btn ">Login Here</a>
                </div>
               
            </div>
    </div>
    




<!-- script section start-->
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% block scripts %}{% endblock scripts %}
<!-- script section end -->
</body>
</html>