{% load static board_tags %}
{% if board_filter.board_view == 'table' %}
{% include "boards/components/table_view.html" with board=board tasks=tasks columns=columns %}
{% else %}
{% include "boards/components/card_view.html" with board=board column_map=column_map %}
{% endif %}

<button class="btn btn-sm btn-outline-primary {% if filter_form.initial %}active{% endif %}" id="filter_board_{{board.id}}_btn"
        title="Filters"
        data-bs-toggle="modal"
        data-bs-target="#filterBoard"
        hx-swap-oob="true">
    <i class="fa-solid fa-filter"></i>
</button>


<div class="modal-body" id="filter_board_modal" hx-swap-oob="true">
    <form hx-post="{% url 'board:board-view' board.id %}" hx-target="#main-content" hx-swap="innerHTML" hx-indicator="#loader">
        {% csrf_token %}
        {% include 'form.html' with form=filter_form %}
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Filter</button>
            {% if filter_form.initial %}
            <button type="submit" hx-params='{"clear":"true"}' name="clear" value="true" class="btn btn-danger">Clear</button>
            {% endif %}
        </div>
    </form>
</div>




