{% load board_tags %}
                    <div class="d-flex justify-content-between align-items-center p-2 rounded hover:bg-gray-100 {% if board.id == active_board.id %}active_board{% endif %}" id="board-{{ board.id }}" title="Board: {{board.name}}">
                        <a href="{% url 'board:board-view' board.id %}" hx-get="{% url 'board:board-view' board.id %}" hx-target="#main-content" hx-swap="innerHTML" class="text-decoration-none fw-bold text-black">
                          {{ board.name }}
                        </a>
                        
                        <div class="d-flex gap-2">
                          <button class="btn btn-sm btn-outline-primary"
                                  title="Add Column"
                                  hx-get="{% url 'board:column-create' board.id %}"
                                  hx-target="#modal-column-body"
                                  hx-swap="innerHTML"
                                  data-bs-toggle="modal"
                                  data-bs-target="#createColumnModal">
                            <i class="fa fa-plus"></i>
                          </button>

                          <button class="btn btn-sm btn-outline-primary d-none" id="filter_board_btn"
                                  title="Filters"
                                  data-bs-toggle="modal"
                                  data-bs-target="#filterBoard">
                            <i class="fa-solid fa-filter"></i>
                          </button>
                      
                          <!-- Dropdown for Edit/Delete -->
                          <div class="dropdown">
                            <button class="btn btn-outline-primary btn-sm"
                                    title="Actions"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                              <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li class="cursor pointer">
                                <a class="dropdown-item"
                                  title="Board Reports"
                                  target="_blank"
                                  href="{% url "board:board-reports" board.id %}">
                                  Reports
                                </a>
                              </li>
                              {% if board.created_by == request.user %}
                              <li class="cursor pointer">
                                <a class="dropdown-item"
                                  title="Edit Board"
                                   hx-get="{% url "workspace:board-actions" board.workspace_id board.id %}"
                                   hx-target="#edit_board_modal"
                                   hx-swap="innerHTML"
                                   data-bs-toggle="modal"
                                   data-bs-target="#editBoardModal">Edit</a>
                              </li>
                              
                              <li class="cursor pointer">
                                <a class="dropdown-item text-danger"
                                title="Delete Board"
                                   hx-delete="{% url "workspace:board-actions" board.workspace_id board.id %}"
                                   hx-confirm="Are you sure you want to delete this board?"
                                   hx-target="#board-{{ board.id }}"
                                   hx-swap="outerHTML">Delete</a>
                              </li>
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                      </div>
                      