{% load static %}
<div class="horizontal-scroll-wrapper auto-hide-scrollbar">
    <div class="row gx-4" id="columns">
        {% if board.columns.exists %}
        {% for column in board.columns.all %}
            <div class="col-md-3" id="column_{{ column.id }}">
                <div class="card border-0 shadow-lg">
                    <div class="card-header text-white px-3 py-2" style="background-color: rgb(73 101 230) !important;">
                        <div class="justify-content-between align-items-start d-flex mt-2">
                            <input id="column_name_{{column.id}}" name="column_name" value="{{ column.name }}"  class="form-control w-75" 
                            hx-post="{% url 'board:update_column_name' column.board_id column.id %}" 
                            hx-trigger="keyup changed delay:500ms"
                            />
                            <button class="btn btn-light fw-bold" 
                                    hx-delete="{% url 'board:column-delete' column.board_id column.id %}" 
                                    hx-target="#column_{{ column.id }}" 
                                    hx-swap="delete" 
                                    hx-confirm="Are You Sure?">🗑️</button>
                        </div>
                        <form id="create_task_form_{{ column.id }}"
                            class="d-flex mt-2"
                            hx-post="{% url 'board:task-create' column.board_id column.id %}" 
                            hx-target="#tasks_list_{{ column.id }}" 
                            hx-swap="beforeend"
                        >
                            {% csrf_token %}
                            <input type="text" name="title" placeholder="New task" class="form-control me-2" required>
                            <button type="submit" class="btn btn-light fw-bold">Add</button>
                        </form>

                    </div>

                    <!-- Task List -->
                    <div id="tasks_list_{{ column.id }}" 
                        class="card-body bg-white auto-hide-scrollbar dropzone" 
                        data-column-id="{{ column.id }}"
                        hx-target="this" 
                        hx-swap="innerHTML" 
                        hx-trigger="load" 
                        hx-get="{% url 'board:get_task_lists' board.id column.id %}">
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12 text-center">
            <div class="welcome-illustration">
				<img src="{% static 'images/board.svg' %}" alt="board" />
                <p>No columns available. Please create a column.</p>
                <button class="btn btn-primary" 
                hx-get="{% url 'board:column-create' board.id %}"
                hx-target="#modal-column-body"
                hx-swap="innerHTML"
                data-bs-toggle="modal" 
                data-bs-target="#createColumnModal" 
                id="createColumnButton"
                >Create Column</button>
			</div>
        </div>
        {% endif %}
    </div>
</div>
