<form hx-post="{% url 'board:create_sub_task' board_id=board_id column_id=column_id task_id=task_id %}" hx-target="#edit_task_modal" hx-swap="innerHTML" hx-encoding='multipart/form-data' >
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    <!-- Link Attachment Section -->
    <div class="mb-3" id="link-wrapper">
        <label class="form-label">Add Links:</label>

        <div class="url-input mb-2 d-flex gap-2 align-items-start">
            <div class="flex-grow-1">
                <input type="url" class="form-control mb-1" name="urls" placeholder="https://example.com">
                <input type="text" class="form-control" name="url_names" placeholder="Optional name">
            </div>
            <button type="button" class="btn btn-sm btn-outline-danger" onclick="removeUrlInput(this)">❌</button>
        </div>
    </div>

    <!-- Add another link button -->
    <button type="button" class="btn btn-sm btn-outline-primary mb-3" onclick="addUrlInput()">+ Add Another Link</button>

    <div class="mb-3" id="attachments_id">
        <label for="attachments" class="form-label">Attachements:</label>
        <input class="form-control" name="attachments" type="file"  multiple>
        <div class="form-text">Select Attachements to upload</div>
        {% if task.attachments.exists %}
        <div class="form-text">Existing Attachments:</div>
        <ul>
            {% for attachment in task.attachments.all %}
            <li>
                <a target="_blank" href="{{ attachment.attachment_url }}">{{ attachment.attachment_name }}</a>
                {% if attachment.file_size %}
                ({{ attachment.file_size }})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_editTaskModal">Close</button>
    </div>
</form>