

<div id="histories">
  {% for history in histories %}
  {% if not forloop.last %}
    <div class="card history-card mb-2 shadow-sm p-2">
      <div class="d-flex justify-content-between mb-1 px-1">
        <span class="history-meta">By {{ history.updated_by.name|default:history.updated_by.username }}</span>
        <small class="text-muted">{{ history.created_at|date:"Y-m-d H:i" }}</small>
      </div>
      <ul class="list-unstyled mb-1 px-2">
        {% for key, value in history.changes.items %}
          <li class="change-line mb-1">
            <strong>{{ key|capfirst }}</strong>:
            {% if value.from or value.to %}
              <span class="text-muted">from</span> <code class="text-danger">{{ value.from }}</code>
              <span class="text-muted">to</span> <code class="text-success">{{ value.to }}</code>
            {% else %}
              <code class="text-danger">{{ value }}</code>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% empty %}
    <p class="text-muted">No history available.</p>
  {% endfor %}
</div>



<button class="btn btn-outline-warning btn-sm" id="task_history"
  hx-get="{% url 'board:task-detail' board_id=board_id column_id=task.column_id task_id=task.id %}?from=task_detail"
  hx-target="#edit_task_modal"
  hx-swap="innerHTML"
  title="Task Detail"
  hx-swap-oob="true">
  <i class="fa-solid fa-clock-rotate-left"></i>
</button>