<!-- templates/kanban/components/column.html -->
<div class="kanban-column">
    <h2>{{ column.name }}</h2>

    <div class="task-list">
        {% for task in column.tasks.all %}
            {% include 'kanban/components/task_card.html' with board_id=column.board_id task=task %}
        {% empty %}
            <p>No tasks</p>
        {% endfor %}
    </div>

    <form 
      hx-post="{% url 'board:create-task' column.board_id column.id %}" 
      hx-target="closest .kanban-column" 
      hx-swap="outerHTML">
        {% csrf_token %}
        <input type="text" name="title" placeholder="New task title" required>
        <button type="submit">Add Task</button>
    </form>
</div>
