{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Workspaces</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/task_master.png' %}"
    />
    <link
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/fontawesome/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'css/workspace.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'assets/htmx/js/htmx.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <style>
      
    </style>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-indicator='.gif_loader'>

    <div id="loader">
      <div id="loader_div">
        {% comment %} <img src="{% static 'gif/gif.gif' %}" alt="gif"> {% endcomment %}
        <span class="loader"></span>
      </div>
  </div>
    <!-- Navbar -->
    <nav class="navbar navbar-light shadow-sm px-4 py-2 bg-white sticky-top">
			<div class="container-fluid d-flex justify-content-between align-items-center">
			  
				<!-- Logo & Title -->
				<div class="navbar-brand d-flex align-items-center gap-2">
					<a href="{% url 'workspace:index' %}">
					<img src="{% static 'images/task_master.png' %}" alt="TaskMaster Logo" class="navbar-logo" height="40">
					</a>
					<h3 class="fw-bold mb-0 text-primary">Workspace</h3>
				</div>
		  
			  <!-- User Info, Notifications & Logout -->
				<div class="user-info d-flex align-items-center gap-3">
					<span class="text-muted">Welcome, {{ user.username }}</span>
			
					<!-- Notifications -->
					<div class="position-relative">
            <span class="btn btn-light rounded-circle shadow-sm notifications" title="Notifications">
              <i class="fa-solid fa-bell text-primary"></i>
              {% if unread_notification_count > 0 %}
              <span id="unread_notification_count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ unread_notification_count }}
              </span>
              {% endif %}
            </span>
					</div>
          
			
					<!-- Logout Button -->
					<form method="post" action="{% url 'accounts:logout-user' %}" class="mb-0">
					{% csrf_token %}
					<button class="btn work-logout-btn d-flex align-items-center gap-2" type="submit" title="Logout">
						<i class="fa-solid fa-right-from-bracket"></i>
					</button>
					</form>
				</div>
			</div>
		</nav>
    <!-- Notifications Dropdown (Initially Hidden) -->
		<div id="notification-div" class="notification-dropdown fade">
			<div id="notification-list">
				{% include 'notifications/notification_list.html' with notifications=notifications %}
			</div>
			<div class="notification-loader"><div></div><div></div><div></div></div>
		</div>
		

    <!-- Content -->
    <div class="container py-5">
      <div class="row g-4" id="workspaces">
        <!-- Create Workspace -->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card card-glass h-100 text-center border-dashed d-flex align-items-center justify-content-center" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#createWorkspaceModal">
            <div class="card-body p-5">
              <i class="fas fa-plus-circle fa-2x mb-2"></i>
              <div>Create Workspace</div>
            </div>
          </div>
        </div>

        <!-- Sample Workspace -->
        {% for workspace in workspaces %}
        {% include 'workspace/components/workspace_card.html' with workspace=workspace %}
        {% endfor %}
        

      </div>
    </div>

    <!--Create Workspace Modal -->
    <div class="modal fade" id="createWorkspaceModal" tabindex="-1" aria-labelledby="createWorkspaceModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="createWorkspaceModalLabel">Create New Workspace</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="createWorkspaceModalContent">
                  <form id="create_workspace_form" 
                      method="POST"
                      action="{% url 'workspace:workspace_create' %}" 
                      hx-post="{% url 'workspace:workspace_create' %}" 
                      hx-target="#workspaces" 
                      hx-swap="beforeend">
                      {% include 'form.html' with form=form %}
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Create</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>

    <!--Edit Workspace Modal -->
    <div class="modal fade" id="editWorkspaceModal" tabindex="-1" aria-labelledby="editWorkspaceModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="editWorkspaceModalLabel">Edit Workspace</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_editWorkspaceModal"></button>
              </div>
              <div class="modal-body" id="editWorkspaceModalContent">
                  
              </div>
          </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        htmx.on('workspaceEdited',function(evt){
            document.getElementById('close_editWorkspaceModal').click()
        })
    </script>
  </body>
</html>
